.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.front{
  display: flex;
  backface-visibility: hidden;
  background-position: center;
  background-size: contain;
}

.back{
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardFlip{
  transform: rotateY(180deg);
}